<div id="main-container">
    <div class="page">
        <div class="row" id="top-row">
            <div class="col-md-12" style="overflow:auto">
                <div class="tile-outer">
                    <div class="lb-tile-inner">

                        <div layout="row" layout-align="space-between center" class="lb-header">
                            <div layout="row">
                                <div class="avatar-wrapper">
                                    <img class="avatar-image" ng-src="{{ logo }}" alt="avatar image">
                                </div>
                                <div layout="column">
                                    <div class="lb-upper-row">
                                        NAME
                                    </div>
                                    <div class="lb-lower-row">
                                        POINTS
                                        <i class="fa fa-info-circle">
                                            <md-tooltip>
                                                Your score is calculated by...
                                            </md-tooltip>
                                            <!-- <span class="tooltip-text">
                                                Your score is calculated by...
                                            </span> -->
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="lb-upper-row">
                                    <div class="lb-right-text">
                                        RANK
                                    </div>
                                </div>
                                <div class="lb-lower-row">
                                    <div class="lb-right-text">
                                        PERCENTILE IN SCOPE
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div layout="row" layout-align="end none" id="button-group">
                            <div id="horizontal-line"></div>
                            <div class="btn-group btn-group-justified md-whiteframe-2dp scope">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary lb-btn {{ lbOverall }}" ng-click="changeScope('overall')">Overall</button>
                                </div>
                                <div class="btn-group">

                                    <button type="button" class="btn btn-secondary lb-btn {{ lbState }}" ng-click="changeScope('state')">State</button>
                                </div>
                                <div class="btn-group">

                                    <button type="button" class="btn btn-secondary lb-btn {{ lbFirm }}" ng-click="changeScope('firm')">Firm</button>
                                </div>
                            </div>
                        </div>

                        <div layout="row" class="lb-body">
                            <div flex="33" layout="column" layout-align="none center" class="lb-one-third">
                                <div class="sup-cat-icon">
                                    <i class="fa fa-usd lb-icon1"></i>
                                    <i class="fa fa-circle icon-background1"></i>
                                </div>
                                <p class="sup-cat-text">
                                    <strong>Financials</strong> - TEXT GOES HERE
                                </p>
                                <md-button layout="row" layout-align="space-between center" class="kpi financials md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Assets Under Management
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        1.1 m
                                    </div>

                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi financials md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Net Worth
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        12.1 m
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi financials md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Number of HNIs
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        9
                                    </div>
                                </md-button>
                            </div>
                            <div flex="33" layout="column" layout-align="none center" class="lb-one-third">
                                <div class="row sup-cat-icon">
                                    <i class="fa fa-handshake-o lb-icon2"></i>
                                    <i class="fa fa-circle icon-background2"></i>
                                </div>
                                <p class="sup-cat-text">
                                    <strong>Client Management</strong> - TEXT GOES HERE
                                </p>
                                <md-button layout="row" layout-align="space-between center" class="kpi client-management md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Conversion Rate
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        56%
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi client-management md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Average Conversion Time
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        17 Days
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi client-management md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Retention Rate
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        95%
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi client-management md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Weekly Client Logins
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        45
                                    </div>
                                </md-button>
                            </div>
                            <div flex="33" layout="column" layout-align="none center" class="lb-one-third">
                                <div class="row sup-cat-icon">
                                    <i class="fa fa-line-chart lb-icon3"></i>
                                    <i class="fa fa-circle icon-background3"></i>
                                </div>
                                <p class="sup-cat-text">
                                    <strong>Growth</strong> - TEXT GOES HERE
                                </p>
                                <md-button layout="row" layout-align="space-between center" class="kpi growth md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        QoQ AUM Growth
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        4.8%
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi growth md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        Goals On Track
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        5%
                                    </div>
                                </md-button>
                                <md-button layout="row" layout-align="space-between center" class="kpi growth md-whiteframe-4dp">
                                    <div flex="70" class=" kpi-text kpi-name">
                                        QoQ Net Worth Growth
                                    </div>
                                    <div flex="30" class=" kpi-text">
                                        15%
                                    </div>
                                </md-button>
                            </div>
                        </div>

                        <!-- <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                            <md-button class="md-primary md-raised" ng-click="leaderBoard.showChart($event)">
                                Dialog
                            </md-button>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>




</div>