/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$app-main-bg: #EFEFEF;
$tile-bg: #FFFFFF;
$dark-blue: #10223F;
$gray-blue: #8294A4;
$main-font: #3D4051;
$sidebar-background:#294763;
$light-green:#007E6A;

$sub-sidebar-width:150px;

$padding-page: 24px;
$padding-tiles-out: 12px;
$padding-tiles-in: 30px;

$header-height: 80px;
$header-padding-tb: 15px;
$header-padding-rl: 20px;

$header-text-padding: 12.5px 0px;

$font-size-heading: 18px;
$font-extended-sidebar:13px;
$font-menu-tile:12px;
$font-universal: 'Open Sans', sans-serif;

body {
	font-family: $font-universal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav {
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 20px;
    color: #3D4051;
    background-color: #fff;
    color: #3D4051;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#main-container {
	padding: 64px 0 0 50px;
    height: 2000px;
}

.side-nav {
	background: $dark-blue;
	color: $gray-blue ;
	position: fixed;
    z-index: 1000;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 80px;
    font-size: $font-menu-tile;

    li {
    	padding: 10px;
        transition: 0.3s;
        &:hover {
            background:$sidebar-background;
        }

	    &:hover > a{
	    	color: #fff;
	    }
    }
}

.side-nav a{
    color:$gray-blue;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.page {
	padding: $padding-page;
	background-color: $app-main-bg;
    height: 100%;
}

//leaderboard
.lb-tile-inner {
	padding: 30px 50px;
}

.lb-header {
	 margin-left: 20px;
	 margin-right: 20px;
	 color: #2A303D;
}

.avatar-wrapper {
	height: 80px;
	width: 68.5px;
}

.avatar-image {
	height: 100%;
	width: 100%;
}

.lb-header {
	height: 80px;
	margin: 20px 0;
}

.lb-upper-row {
	font-size: 28px;
	padding: 5px 0;
}

.lb-lower-row {
	font-size: 14px;
	padding: 5px 0;
}

.lb-right-text {
	margin-left: 15px;
	float: right;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
	left:7.4%;
    margin-left: -60px;
	opacity: 0.6;
	font-family: $font-universal;
}

div#button-group {
    position: relative;

   &:before {
        border-top: 2px solid #dfdfdf ;
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
    }
}

.scope-wrapper {
	margin-right: 0px;
}

.offFocus {
	background-color: #D6D6D6;
}

.onFocus {
	background-color: #313131;
	color: white !important;
}

.lb-btn {
	width: 125px;
	border-color: black;
}

.lb-body {
	margin-top: 50px;
}

.scope {
	float: right;
}

.lb-one-third {
	text-align: center;
}

.sup-cat-icon {
	text-align: center;
	padding-bottom: 10px;
	color: #000000;
	text-align: center;
}

.sup-cat-text {
	padding: 25px 0px;
	margin: 0px;
}

.kpi {
	height: 85px;
	width: 75%;
	border-radius: 5px !important;
	margin-left: 0px;
}

.kpi-text {
	color: #000000;
}

.financials {
	background-color: #91E4FB;
}

.financials:hover {
	background-color: #D3F4FD !important;
}

.client-management {
	background-color: #AEDD94;
}

.client-management:hover {
	background-color: #DEF1D4 !important;
}

.growth {
	background-color: #FEF8A0;
}

.growth:hover {
	background-color: #FEFCD9 !important;
}

.fa-info-circle:hover .tooltip-text {
    visibility: visible;
}


.icon-background1 {
	position: relative;
	z-index: 5;
	left: -15px;
	font-size: 64px;
	color: #91E4FB;
}

.icon-background2 {
	position: relative;
	z-index: 5;
	left: -26px;
	font-size: 64px;
	color: #AEDD94;
}

.icon-background3 {
	position: relative;
	z-index: 5;
	left: -25px;
	font-size: 64px;
	color: #FEF8A0;
}

.fa-info-circle {
	color: #D6D6D6;
	margin-left: 10px;
}

.lb-icon1 {
	color: #FFFFFF;
	font-size: 50px;
	position: relative;
	top: -5px;
	left: 30px;
	z-index: 10;
}

.lb-icon2 {
	color: #FFFFFF;
	font-size: 38px;
	position: relative;
	top: -9px;
	left: 30px;
	z-index: 10;
}

.lb-icon3 {
	color: #FFFFFF;
	font-size: 36px;
	position: relative;
	top: -11px;
	left: 27px;
	z-index: 10;
}
//end leaderboard

#top-row {
	padding-top: 0px;
}

.header {
	height: $header-height;
	padding: $header-padding-tb $header-padding-rl;
	background-color: $tile-bg;
}

.header-text {
	font-size: $font-size-heading;
	padding: $header-text-padding;
}

.tile {
//	padding: $padding-tiles-out 0px;
	padding-top: $padding-tiles-out;
	padding-bottom: $padding-tiles-out;
}
.tile-outer {
	background-color: $tile-bg;
}

.tile-inner {
	padding: $padding-tiles-in;
}

.more {
	float: right;
}

.tile-header {
	padding: 0px;
}

.open-width{
    width: $sub-sidebar-width !important
}

.open-marginLeft{
    margin-left: $sub-sidebar-width !important
}

.open-left{
    left: $sub-sidebar-width+80px !important
}

.loginText {
	text-align: center;
	padding: 15px 0 15px 0;

}

.loginNum {
	font-size: 65px;
	color: #3EB6B5;
}

.subtitle {
	text-align: center;
	font-size: 14px;
}

.side-toggle {
        width: 20px;
        height: 100%;
        z-index: 1;
        top: 64px;
        left: 80px;
        background-color: $sidebar-background;
        position: fixed;
        text-align: center
}

.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 64px;
        left: 80px;
        background-color:$sidebar-background;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top:15px;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: $font-extended-sidebar;
        color: $tile-bg;
        display: block;
        transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
		color: #f1f1f1;
}

#main {
		transition: margin-left .5s;
}

#toggle {
		transition: left .5s;
}

#inner {
		top: 50%;
		position: fixed;
		width: 20px;
		color: white
}

#chart {
	min-width: 310px;
	min-height: 400px;
	margin: 0 auto
}

.icon{
    font-size: 22px
}

.current{
    background: $sidebar-background;
     color: $tile-bg;
}

.current-icon{
    color: $tile-bg !important;
}

.path-link:hover{
    text-decoration: underline;
}

.curr-path-link{
    fill: 	#F68A1D ;
}

.pos {
	color: green;
}

.neg {
	color: red;
}

//for client/prospect toggle
$color-green-active: #40B349;
$color-green: #A1CB39;
$color-blue: #11BEDF;

@mixin oranj-toggle-appearance
(
    $oranj-toggle-off-color: $color-green,
    $oranj-toggle-on-color: $color-blue,
    $oranj-toggle-inactive-text: rgba(#000, 0.5),
    $oranj-toggle-transition: cubic-bezier(0,1,0.5,1),
    $oranj-toggle-width: 134px,
    $oranj-toggle-height: 36px,
    $oranj-toggle-border-radius: 4px,
    $oranj-toggle-offset: 2px,
    $oranj-toggle-label-font-size: 14px,
    $oranj-toggle-switch-font-size: 12px,
    $oranj-toggle-shadow: 0 3px 3px rgba(black, 0.2)
) {
    $oranj-toggle-switch-width: $oranj-toggle-width / 2;

    input[type="checkbox"] {
        ~ label {
            .toggle-switch:after {
                background-color: $oranj-toggle-off-color;
            }
        }

        &:checked {
            ~ label {
                .toggle-switch {
                    &:after {
                        transform: translate3d($oranj-toggle-width - ($oranj-toggle-switch-width + $oranj-toggle-offset),0,0);
                        background-color: $oranj-toggle-on-color;
                    }
                }
            }
        }
    }

    label {
        font-size: $oranj-toggle-label-font-size;

        .toggle-switch {
            height: $oranj-toggle-height;
            flex: 0 0 $oranj-toggle-width;
            border-radius: $oranj-toggle-border-radius;
            cursor: pointer;
            transition: background-color 0.3s $oranj-toggle-transition;
            background-color: #EFEFEF;


            &:before {
                left: $oranj-toggle-width/2;
                font-size: $oranj-toggle-switch-font-size;
                line-height: $oranj-toggle-height;
                width: $oranj-toggle-width/2;
                padding: 0 12px;
                color: $oranj-toggle-inactive-text;
            }

            &:after {
                top: $oranj-toggle-offset; left: $oranj-toggle-offset;
                border-radius: $oranj-toggle-border-radius/2;
                width: $oranj-toggle-switch-width - $oranj-toggle-offset;
                line-height: $oranj-toggle-height - ($oranj-toggle-offset*2);
                font-size: $oranj-toggle-switch-font-size;
                color: #fff;
                // Autoprefixer choked here, so making the prefixes explicit
                -webkit-transition: -webkit-transform 0.3s $oranj-toggle-transition;
                transition: transform 0.3s $oranj-toggle-transition;
            }
        }
    }
}

.oranj-toggle {
    position: relative;
	width: 35%;
	margin: auto;
	padding-top: 20px;
    *, *:before, *:after { box-sizing: border-box; }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0; left: 0;

        &[disabled] ~ label {
            pointer-events: none;

            .toggle-switch {
                opacity: 0.7;
            }
        }

        &:checked {
            ~ label {
                .toggle-switch {
                    &:before {
                        content: attr(data-unchecked);
                        left: 0;
                    }

                    &:after {
                        content: attr(data-checked);
                    }
                }
            }
        }
    }

    label {
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;

        .toggle-switch {
            position: relative;

            &:before {
                content: attr(data-checked);
                position: absolute;
                top: 0;
                text-transform: capitalize;
                text-align: center;
            }

            &:after {
                content: attr(data-unchecked);
                position: absolute;
                z-index: 5;
                text-transform: capitalize;
                text-align: center;
                background: white;
                transform: translate3d(0,0,0);
            }
        }
    }

    // Create toggles of different sizes by overriding the oranj-toggle-appearance mixin defaults
    &.small-dual-color {
        @include oranj-toggle-appearance (
            #A1CB39,
            #11BEDF,
            rgba(#000, 0.5),
            cubic-bezier(0,1,0.5,1),
            140px, // Toggle width
            26px,  // Toggle height
            26px,   // Toggle border radius
            0,   // Offset (distance btw switch and box)
            14px,  // Label font size
            12px,  // Switch font size
            0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
        );
    }

    &.medium-one-color {
        @include oranj-toggle-appearance (
            #15325A,
            #15325A,
            rgba(#000, 0.5),
            cubic-bezier(0,1,0.5,1),
            300px, // Toggle width
            30px,  // Toggle height
            30px,   // Toggle border radius
            0,   // Offset (distance btw switch and box)
            14px,  // Label font size
            14px,  // Switch font size
            0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
        );

        &.panel-footer {
            position: absolute;
            width: 300px;
            left: calc(50% - 150px);
            bottom: 25px
        }

        label {
            font-weight: 300;

            .toggle-switch:before {  padding: 0; }
        }
    }

    &.large-dual-color {
        @include oranj-toggle-appearance (
            #A1CB39,
            #11BEDF,
            rgba(#000, 0.5),
            cubic-bezier(0,1,0.5,1),
            160px, // Toggle width
            50px,  // Toggle height
            4px,   // Toggle border radius
            2px,   // Offset (distance btw switch and box)
            14px,  // Label font size
            14px,  // Switch font size
            0 4px 4px rgba(black, 0.4) // Switch shadow on hover/focus
        );
    }
}

@keyframes fill-to-dark {
    0% {
        fill: #fff;
    }
    100% {
        fill: $color-green-active;
    }
}

.oranj-loading-ticker {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 150px;
    width: 350px;

    #items {
        transition: 1s ease-in-out;
        transform: translateY(50px);
    }

    @for $i from 0 through 20 {
        .item-#{$i} {
            #items {
                transform: translateY(($i * -50) + 50px);
            }

            #loadingCheck-#{$i}, #loadingCircleOutline-#{$i}{
                animation: fill-to-dark 1s forwards;
                animation-delay: 800ms;
            }

            // sloppy
            #loadingCheck-#{$i - 1},
            #loadingCircleOutline-#{$i - 1},
            #loadingCheck-#{$i - 2},
            #loadingCircleOutline-#{$i - 2} {
                fill: #40B349;
            }
        }
    }
}

.oranj-back-next {
    padding-bottom: 15px;
    border-bottom: 1px solid #B5B7B9;
    font-size: 16px;
    font-weight: bold;

    span {
        &:first-child {
            min-width: 55px;

            i { padding-right: 10px; }
        }
        &:last-child {
            text-align: right;
            min-width: 55px;

            i { padding-left: 10px; }
        }
    }
}

.progress-circle {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    margin-right: 40px;
    position: relative;
    width: 15rem;

    &:before {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        content: attr(data-progress) '%';
        display: flex;
        font-size: 3rem;
        justify-content: center;
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 1rem;
        bottom: 1rem;
        transition: transform 0.2s ease;
    }

    &:after {
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    &:hover:before, &:focus:before {
        transform: scale(0.8);
    }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector



.templateLink {
  color: #3db6b6;
}

#build {
  color: #3db6b6;
  float:right;
  position: relative;
}

#model{
  float:left;
  font-size:35px;
  font-weight:bold;
}

.chart-legend{
    font-family: $font-universal;
    font-size: 13px;
    color: #464646;
    cursor: pointer;
}

.highcharts-title {
    font-family: $font-universal;
    font-size: 18px;
    color: #2A303D;
    font-weight: 600;
}

.highcharts-legend{
    font-family: $font-universal;
    font-size: 13px;
    color: #464646;
}


////// Oranj UI

$color_persian_green_approx: #00a69c;
$color_persian_green_58_approx: rgba(0, 166, 156, 0.58);

md-switch {
    &.md-checked {
        .md-thumb {
            background-color: $color_persian_green_approx !important;
        }
        .md-bar {
            background-color: $color_persian_green_58_approx !important;
        }
    }
    &.md-default-theme.md-checked {
        .md-thumb {
            background-color: $color_persian_green_approx !important;
        }
        .md-bar {
            background-color: $color_persian_green_58_approx !important;
        }
    }
}

md-sidenav {
  z-index: 99;
  max-width: 250px;
}

.md-open-menu-container {
  font-size: 14px;
}

.md-open-menu-container md-menu-item .limit-one-line {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-button {
    color: #fff !important;
    border-radius: 25px;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;

    &.md-primary, &.md-primary-btn-head {
        background-color: #3eb6b5 !important;
    }

    &.md-secondary, &.md-secondary-btn-head, &.btn-grey-m {
        background-color: #9F9F9F !important;
    }

    p, span {
        margin: 0;
    }
}

md-input-container {
    margin: 5px 0;

    input {
        color: #fff;
    }
}

md-autocomplete.oranj-default {
    border-radius: 26px;
    border: 1px solid #CBD5DD;

    md-autocomplete-wrap {
        box-shadow: none;
    }
}

md-sidenav {
    z-index: 10000;
}

md-tooltip {
    &.multiline {
        height: auto;
    }
}

.md-tab {
    padding: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-color: #DCDCDC;
    color: black !important;
    margin: 2px;
}

md-tabs .md-tab.md-active{
    border-top-style:  hidden !important;
    border-bottom-style:  solid !important;

    background-color: white !important;
}



.md-scroll-mask {
    //color:$light-green !important;
    background-color: rgba(0, 126, 106, 0.3) !important;
}


.tab-one{
    border-top-color: #91e4fb;
    border-bottom-color: #91e4fb;

    border-top-style:  solid !important;
    border-bottom-style:  hidden !important;
}

.tab-two {
    border-top-color: #aedd94;
    border-bottom-color: #aedd94;

    border-top-style:  solid !important;
    border-bottom-style:  hidden !important;
}

.tab-three {
    border-top-color: #fef8a0;
    border-bottom-color: #fef8a0;

    border-top-style:  solid !important;
    border-bottom-style:  hidden !important;

}
